<div class="portfolio">
  <div class="protfolio_container">
    <div class="heading">
      <h1>Portfolio</h1>
    </div>
    <ul class="buttons portfolio_btn">
      <li><a href="#">Android Application</a></li>
      <li><a href="#">Web Application</a></li>
      <li><a href="#">Software</a></li>
    </ul>
  </div>
  <div class="project_container">
    <div class="project_cards">
      <a href="#" class="project">
        <div class="project_image">
          <img src="project_1.jpg" alt="project_pic" />
        </div>
        <div class="project_text">
          <p>Android Application</p>
        </div>
      </a>
      <a href="#" class="project">
        <div class="project_image">
          <img src="project_2.jpg" alt="project_pic" />
        </div>
        <div class="project_text">
          <p>Android Application</p>
        </div>
      </a>
      <a href="#" class="project">
        <div class="project_image">
          <img src="project_3.jpg" alt="project_pic" />
        </div>
        <div class="project_text">
          <p>Android Application</p>
        </div>
      </a>
      <a href="#" class="project">
        <div class="project_image">
          <img src="project_4.jpg" alt="project_pic" />
        </div>
        <div class="project_text">
          <p>Android Application</p>
        </div>
      </a>
      <a href="#" class="project">
        <div class="project_image">
          <img src="project_1.jpg" alt="project_pic" />
        </div>
        <div class="project_text">
          <p>Android Application</p>
        </div>
      </a>
      <a href="#" class="project">
        <div class="project_image">
          <img src="project_2.jpg" alt="project_pic" />
        </div>
        <div class="project_text">
          <p>Android Application</p>
        </div>
      </a>
      <a href="#" class="project">
        <div class="project_image">
          <img src="project_3.jpg" alt="project_pic" />
        </div>
        <div class="project_text">
          <p>Android Application</p>
        </div>
      </a>
      <a href="#" class="project">
        <div class="project_image">
          <img src="project_4.jpg" alt="project_pic" />
        </div>
        <div class="project_text">
          <p>Android Application</p>
        </div>
      </a>
      <a href="#" class="project">
        <div class="project_image">
          <img src="project_1.jpg" alt="project_pic" />
        </div>
        <div class="project_text">
          <p>Android Application</p>
        </div>
      </a>
    </div>
  </div>
</div>
