@import url("fonts.css");

:root {
  --black-color: #0f1519;
  --darkgray-color: #2b2c2f;
  --lightgray-color: #4d5356;
  --white-color: #f5f5f5;
  --red-color: #d62c40;
}

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5 / 100 * 16px;
  font-family: "Montserrat Regular";
}

/* General tags */
h1 {
  font-family: "Montserrat Bold";
  font-size: 3.2rem;
}

h2 {
  font-family: "Montserrat Medium";
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h3,
h4 {
  font-family: "Montserrat Regular";
}

p {
  font-family: "Montserrat Regular";
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--black-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
  border-radius: 1rem;
  border: 0.3rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--white-color);
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}

/* Main CSS */

.hero-section,
.about-section,
.portfolio-section,
.contact-section {
  width: 100%;
  height: 100vh;
}

@media (max-width: 768px) {
  .hero-section,
  .about-section,
  .portfolio-section,
  .contact-section {
    height: 100%;
    min-height: 100vh;
  }
}

/* Navigation Bar */

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: relative;
}

.nav_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo_container {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo,
.dot {
  font-family: "Montserrat Regular";
}

.logo {
  color: var(--white-color);
  font-size: 2.5rem;
}

.dot {
  color: var(--red-color);
  font-size: 2rem;
}

.nav_items {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_items > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_item {
  color: var(--white-color);
  font-family: "Montserrat Regular";
}

.nav_item:hover {
  color: var(--red-color);
}

#menuIcon {
  display: none;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 3rem;
  cursor: pointer;
  z-index: 20;
}

.menu_box {
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  border-bottom-left-radius: 100%;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
}

.menu_box.open_menu {
  width: 100%;
  height: 100vh;
  border-bottom-left-radius: 0;
}

.menu_box.open_menu ul li {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s, opacity 1s;
  transition-delay: 0.5s;
}

.menu_box ul li {
  list-style: none;
  margin: 2rem;
  text-align: center;

  opacity: 0;
  transform: translateY(2rem);
}

.menu_box ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  text-shadow: 0 0 0 var(--red-color);
  transition: text-shadow 0.5s, transform 0.5s;
}

.menu_box ul li a:hover {
  text-shadow: -3px 3px 0 var(--red-color);
  transform: translateY(-6px);
}

.menu_box ul li a::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: var(--white-color);
  position: absolute;
  bottom: 0.5rem;
  right: -1rem;
  opacity: 0;
  box-shadow: 0 0 0 var(--red-color);
  transition: box-shadow 0.5s;
}

.menu_box ul li a:hover::after {
  opacity: 1;
  box-shadow: -2px 2px 0 var(--red-color);
}

/* Responsive NavBar */
@media (max-width: 768px) {
  #menuIcon {
    display: block;
  }

  .nav_items {
    display: none;
  }
}

/* Main container */

.main_container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url("./home_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading_container {
  width: 90%;
}

.heading_container > h3 {
  color: var(--white-color);
  margin-bottom: 2rem;
}

.heading_container > h3 > span {
  color: var(--red-color);
}

.heading_container > h1 {
  color: var(--white-color);
  margin-bottom: 2rem;
}

.buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  padding: 1rem 1.4rem;
  font-family: "Montserrat Regular";
}

.buttons > li > a:hover {
  color: var(--red-color);
  border: 1px solid var(--red-color);
}

.message_icon {
  fill: var(--white-color);
}

.buttons > li > a:hover .message_icon {
  fill: var(--red-color);
}

/* Social Container */

.social_container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  left: 0;
  z-index: 2;
}

.inner_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.inner_container > h4 {
  color: var(--white-color);
  margin-bottom: 1rem;
}

.inner_container > ul {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner_container > ul > li > a {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-family: "Montserrat Regular";
  background: var(--red-color);
  padding: 0.3rem;
  fill: var(--white-color);
}

.inner_container > ul > li > a > svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .buttons {
    width: 80%;
  }

  .buttons li a {
    padding: 0.8rem 1.2rem;
  }

  .inner_container ul {
    width: 50%;
  }
}

/* About Section */
.about {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 5rem 0;
  justify-content: center;
  align-items: center;
  background-image: url("./about_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.about_container {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.heading {
  width: 90%;
  border-left: 0.3rem solid var(--red-color);
  padding: 0 1.3rem;
  margin-bottom: 4rem;
  color: var(--white-color);
}

.profession {
  font-family: "Montserrat Medium";
  color: var(--white-color);
  margin-bottom: 3rem;
}

.profession > span {
  color: var(--red-color);
}

.about_container > p {
  width: 90%;
  margin-bottom: 3rem;
  color: var(--white-color);
}

.about_btn {
  width: 20%;
  margin-bottom: 2rem;
}

.cards {
  position: absolute;
  bottom: 0;
  right: 30%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp_card {
  margin-right: 2rem;
}

.whatsapp_card,
.mail_card {
  background: var(--black-color);
  padding: 1rem;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.whatsapp_card > svg,
.mail_card > svg {
  fill: var(--red-color);
  width: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .heading {
    margin-bottom: 2rem;
  }

  .profession {
    margin-bottom: 1.5rem;
  }

  .about_container p {
    margin-bottom: 1.5rem;
  }

  .about_btn {
    width: 55%;
    margin-bottom: 1rem;
  }

  .cards {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    right: 0;
  }

  .whatsapp_card {
    margin-right: 0;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .whatsapp_card,
  .mail_card {
    padding: 0.5rem 1.5rem;
    align-items: center;
  }
}

/* Portfolio section */

.portfolio {
  width: 100%;
  height: 100%;
  background-color: red;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("./portfolio_background_2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
}

.protfolio_container {
  width: 60%;
  display: flex;
  padding-top: 4.5rem;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.portfolio_btn {
  flex-direction: column;
}

.portfolio_btn > li {
  margin-bottom: 2rem;
  width: 100%;
}

.portfolio_btn > li > a {
  width: 100%;
  font-size: 1.4rem;
}

.project_container {
  width: 50%;
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--white-color);
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_cards {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 10rem));
  gap: 2rem;
}

.project {
  position: relative;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.project:hover .project_text {
  visibility: visible;
}

.project:hover .project_image > img {
  transform: scale(1.3);
}

.project_image {
  width: 10rem;
  height: 10rem;
}

.project_image > img {
  display: block;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease;
}

.project_text {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--red-color);
  opacity: 0.8;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  visibility: hidden;
}

.project_text > p {
  color: var(--white-color);
}

@media (max-width: 768px) {
  .portfolio {
    flex-direction: column;
    align-items: center;
    background: var(--black-color);
  }

  .protfolio_container {
    width: 90%;
  }

  .project_container {
    position: relative;
    width: 90%;
    padding: 2rem;
  }

  .portfolio_btn {
    width: 100%;
  }

  .portfolio_btn li {
    width: 50%;
  }

  .portfolio_btn li a {
    font-size: 1rem;
  }
}

/* Contact Section */

.contact {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("./contact_background.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 10%;
}

.contact_container {
  position: absolute;
  bottom: 5%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.conatct_content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_info_container {
  width: 50%;
  margin: 2rem 2rem 2rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: #f5f5f511;
}

.contact_info_container > h3,
.contact_info_container > p {
  color: var(--white-color);
  margin-bottom: 2rem;
}

.contact_info_container > p {
  font-size: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.info > a {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 0.5rem;
}
.icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--red-color);
  margin-right: 1rem;
}

.icon > svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--white-color);
}

.website_icon > path {
  stroke: var(--white-color);
  stroke-width: 2px;
}

.text > p {
  font-size: 1rem;
  color: var(--white-color);
}

.conatct_form_container {
  width: 50%;
  height: 100%;
  padding: 2rem;
}

.conatct_form_container > form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.conatct_form_container > form > input,
.conatct_form_container > form > textarea {
  width: 100%;
  background: transparent;
  border: 1px solid var(--white-color);
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--white-color);
}

.conatct_form_container > form > input::placeholder,
.conatct_form_container > form > textarea::placeholder {
  color: var(--white-color);
}

button {
  padding: 0.5rem 1rem;
  background: var(--red-color);
  color: var(--white-color);
  font-family: "Montserrat Medium";
  border: none;
  cursor: pointer;
}

.footer_btn {
  position: absolute;
  bottom: 0;
  right: 2%;
  width: 3rem;
  height: 3rem;
  background-color: var(--white-color);
}

@media (max-width: 768px) {
  .contact {
    background-size: cover;
    padding: 5rem 0;
  }

  .contact_container {
    position: relative;
    bottom: 0;
    width: 90%;
    align-items: start;
  }

  .conatct_content {
    display: block;
    width: 100%;
  }

  .contact_info_container {
    width: 100%;
    margin: 2rem 0 2rem 0;
  }

  .contact_info_container > h3,
  .contact_info_container > p {
    margin-bottom: 1.5rem;
  }

  .conatct_form_container {
    width: 100%;
    height: auto;
  }

  .conatct_form_container > form {
    height: auto;
  }
}

/* Footer */

.footer {
  background: var(--white-color);
  width: 100%;
  height: auto;
  padding: 2rem;
}

.footer_container {
  width: 100%;
  display: flex;
  gap: 5%;
  justify-content: space-between;
  align-items: center;
}

.footer_nav_items {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_nav_items > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer_nav_item {
  width: auto;
  color: var(--black-color);
  font-family: "Montserrat Regular";
}

.footer_nav_item:hover {
  color: var(--red-color);
}

.social_info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social_info > p {
  font-size: 1rem;
  color: var(--black-color);
  margin-bottom: 1rem;
}

.social_icons > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.behance_icon,
.linkedin_icon,
.instagram_icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.behance_icon > svg,
.linkedin_icon > svg,
.instagram_icon > svg {
  width: 2rem;
  height: 2rem;
  stroke: 0.5rem;
}

.newsletter_container {
  width: 30%;
}

.newsletter_container > h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.newsletter_container > form > input {
  padding: 0.5rem;
  border: 2px solid var(--black-color);
}

.newsletter_container > form > input::placeholder {
  color: var(--black-color);
}

@media (max-width: 768px) {
  .footer_container {
    display: block;
  }

  .footer_nav_items {
    width: 100%;
    margin-bottom: 2rem;
  }

  .social_info {
    width: 100%;
  }

  .newsletter_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
}
